<table style="border: 1px solid cyan;">
<tr>
  <td>
  	<h1><%= blogpost.title %></h1></td>
  	<tr>
  	<td>
    <%= blogpost.content %>
    <div class="right">
      Posted <%= time_ago_in_words(blogpost.created_at) %> ago.
    </div>
  </td>
</tr>
</table>
