<%= render 'users/user_menu' %>
<div class="prepend-1 left">
	<h3><%= link_to "Dodaj wpis", new_user_blogpost_path(current_user) %></h3>
<% unless @user.blogposts.empty? %>
        <table summary="User blogposts">
          <%= render @blogposts %>
        </table>
</div>
        <%= will_paginate @blogposts %>
<% end %>