<div class="prepend-1">
<% unless @user.bonuspoints.empty? %>
        <table summary="User bonuspoints">
        	<tr style="background-color: cyan;">
			<td class="bold">Ilosc punktow</td><td class="bold">Za co otrzymane</td><td class="bold">Data</td>
			</tr>
          	<%= render @bonuspoints %>
        </table>
</div>
        <%= will_paginate @bonuspoints %>
<% end %>