.container {
    background: #f2f2f2;
    border-right: 2px solid silver;
    border-left: 2px solid silver;
    border-bottom: 2px solid silver;
    padding: 0 10px 10px 10px;
}

body {
    background: #c3e1a8;/*#289a06;/* <- w komentarzu nasz oryginalny zielony ustawiony na naszym spotkaniu*/
}

section, article, footer, header{
    display: block;
    clear:both;
    font-size: 120%;
    margin: 0;
    padding: 0;
}

header a#logo {
    font-size: 200%;
}

header img {
    padding: 1em;
    background: #fff;
}

header {
    padding-top: 20px;
    padding-bottom: 20px;
}
nav {
    float: right;
}

article h1 {
    font-size: 170%;
    /*    color: #289a06;*/
    margin-bottom: 1em !important;
}

article h2 {
    font-size: 130%;
}

/* Links */

a {
    color: #044BA9;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #044BA9;
    text-decoration: underline;
}

#mega-menu-1 li a, .round {
    -moz-border-radius:    5px;
    -webkit-border-radius: 5px;
    border-radius:         5px;
}
/* Project Menu */

#project-nav {
  float: left;
  background-color: black;
  padding: 0.2em 0.7em;
  white-space: nowrap;
}

#project-nav ul {
  margin: 0;
  padding: 0;
}

#project-nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

#project-nav ul li a {
  color: white;
  padding: 0 5px;
  font-weight: bold;
}

#project-nav ul li a:hover {
  color: #ADD8E6;
  text-decoration: none;
}

/* Errors */

.field_with_errors {
    padding:0;
    background-color: red;
    display: inline-block;
    margin: 1px;
}

.field_with_errors input, .field_with_errors textarea, .field_with_errors select {
    padding:0;
    margin:2px;
}

.clickable {
    font-weight: bold;
    padding: 6px;
    text-align: center;
    width: 100px;
    display: inline-block;
    background-color: #dcdcdc;
    border-color: #DDDDDD;
    margin: 1px;
}
.clickable:hover {
    background-color: black;
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.clickable.checked, .clickable.checked:hover {
    background-color: yellowgreen;
    color: black;
}

.bold {font-weight: bold}
.rejected {background-color: #fecdc1}
.winner {background-color: #c8e18a}

.center {text-align: center}
.right {text-align: right}
.left {text-align: left}

.top-1 {margin-top: 20px}
.top-2 {margin-top: 50px}
.top-3 {margin-top: 100px}
.top-4 {margin-top: 200px}

table.list thead {
    font-size: 85%;
    background-color: white;
}

table tr:nth-child(even) {
    background:#E5ECF9;
}

.statistics span {
    font-weight: bold;
}

.offerField {
    margin-top: 100px;
}

.offerField input[type=text] {
    width: 100px;
    text-align: right;
}

.offersList td {
    vertical-align: middle;
}