<div class="prepend-1 append-1">
  <% form_for [:panel, @auction, @communication] do |f| %>

    <%= render "layouts/error_messages", :target => @communication %>
    <p>
      <%= f.label :body %><br />
      <%= f.text_area :body, :class => "span-22", :style => "height: 50px" %>
    </p>
    <%= f.submit t("general.send") %>
  <% end %>
</div>
