<% content_for :title, "Nowy komunikat dla aukcji \"#{@auction.to_s}\"" %>
<div class="prepend-1 append-1">
  <% form_for [:panel, @auction, @communication] do |f| %>

    <%= render "layouts/error_messages", :target => @communication %>
    <p>
      <%= f.label :body, 'tresc komunikatu:' %><br />
      <%= f.text_area :body %>
    </p>
    <%= f.submit "Publikuj" %>
  <% end %>
</div>
