<%= form_for current_user.relationships.find_by_watched_id(@user),
             :html => { :method => :delete } do |f| %>
  <div class="actions"><%= f.submit "Wyrzuć z zaufanych" %></div>
<% end %>