<% unless current_user?(@user) %>
  <div id="follow_form">
  <% if current_user.watching?(@user) %>
    <%= render 'unwatch' %>
  <% else %>
    <%= render 'watch' %>
  <% end %>
  </div>
<% end %>