<%= form_for current_user.relationships.build(:watched_id => @user.id) do |f| %>
  <div><%= f.hidden_field :watched_id %></div>
  <div class="actions"><%= f.submit "Dodaj do zaufanych" %></div>
<% end %>