<nav id="project-nav" class="round" style="margin-bottom: 10px">
  <ul>
      <li><%= link_to 'Info', project_info_path(@project) %></li>
      <li><%= link_to 'Członkowie', project_members_path(@project) %></li>
      <li><%= link_to 'Pliki', '#' %></li>
      <li><%= link_to 'Forum', '#' %></li>
  </ul>
</nav>

<div style="clear: both"></div>