<% form_tag admin_tags_path, :method => :get do |f| %>
  <div class="prepend-2 append-2 span-20">
    <div class="box center">
      Nazwa lub ID: <%= text_field_tag :query, @query %>
      <%
      groups = @groups.collect{|group| [group, group.id]}
    %>
      Grupa: <%= select_tag :group_id, options_for_select(groups, @group_id), :include_blank => true %>

      <%= submit_tag "wyszukaj" %>
    </div>
  </div>
<% end %>