<table>
  <%= form_for @project, :url => project_info_path(@project) do |f| %>
  <%= render "layouts/error_messages", :target => @project %>
  <tr>
    <td>Opis <%= f.submit "Zapisz" %></td>
  </tr>
  <tr style="background:none">
    <td>
      <%= f.text_area :description, :class => "span-14", :style => "height: 150px" %><br />
    </td>
  </tr>
  <% end %>
</table>