<table>
  <%= form_for "project/info/@project" do |f| %>
  <tr>
    <td>Opis <%= f.submit "Zapisz" %></td>
  </tr>
  <tr style="background:none">
    <td>
      <%= f.text_area(:description, :value => @project.description ) %><br>
    </td>
  </tr>
  <% end %>
</table>