<%= render 'users/user_menu' %>
<table style="border: 1px solid cyan;">
  	<tr>
  	<td>
    <%= simple_format(@comment.content) %>
    <div class="right">
		<% if @comment.user_id == current_user.id %>
			<%= link_to "Zgłoś administratorowi", :action => "admin", :id => @comment%>
		<% end %>
		Utworzony <%= time_ago_in_words(@comment.created_at) %> temu.
    </div>
  </td>
</tr>
</table>