<% content_for :title, "Nowa aukcja" %>
<div class="prepend-1 append-1">
  <% form_for [:panel, @auction] do |f| -%>

    <%= render "layouts/error_messages", :target => @auction %>

    <%= render :partial => "/shared/auction/form_fields", :locals => {:f => f} %>

    <%= f.submit "Publikuj" %>
  <% end -%>
</div>
