<% include_wysiwyg %>
<div class="center">
		<% form_tag({:action => "blogpostedit2"}) do %>
		  <div class="field">
		  	Tytuł<br />
		    <%= text_field "title", :title, :value => @blogpost.title, :class => "span-10" %>
		  </div>
		  <div class="field">
		  	Treść<br />
		    <center><%= text_area "content", :content, :value => @blogpost.content, :class => "mceEditor span-10" %></center>
		  </div>
		  <div class="actions">
		    <%= submit_tag "Edytuj" %>
		  </div>
		<% end %>
</div>