  <% groups.each do |g| %>
    <fieldset data-sizable="true">
      <legend><%= g.name %></legend>
      <% g.tags.each do |tag| %>
        <%= check_box_tag "tag_ids[#{tag.id}]", tag.id, selected_tag_ids.include?(tag.id), "data-clickable" => true %><%= label_tag "tag_ids[#{tag.id}]", tag.name, :class => "round" %>
      <% end %>
    </fieldset>
  <% end %>
  <%= javascript_tag do %>
    clickableLabel();
    sizableFieldset();
  <% end %>