<table class="list">
  <thead>
    <tr>
      <th>Login</th>
      <th>Kontakt</th>
      <th>Rola</th>
    </tr>
  </thead>
  <tbody>
    <% @members.each do |user| %>
      <tr>
        <td><%= link_to user.login, user_path(user) %></td>
        <td>
        	<%= link_to 'PW', :controller => 'panel/messages', :action => :new, :receiver_login => user.login %> | 
        	<%= mail_to user.email %>
        </td>
      	<td>
      		<%= escape_column(@project.user_role(user.id), "name").capitalize %>        	
      	</td>
    	</tr>
    <% end %>
  </tbody>
</table>